{% extends "base.html" %}

{% block title %}List of Cars{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row equal align-items-start">
			{% for car in cars %}
			<div class="col">
				<div class="card" style="width: 18rem;">
					<a href="{{car.get_absolute_url}}" class="display-4">
					<h1>
						{{car.make}} - {{car.model}}
						<small>
							{{car.year}}
						</small>
					</h1></a>
					<hr>
					{% if car.img %}
						<img class = "card-img-top" src="{{car.img.url}}">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title">{{car.model}}</h5>
						<p class="card-text">{{car.make}}</p>
						<p class="card-text">{{car.year}}</p>
						<a href="{{car.get_absolute_url}}" class="card-link"> read more... </a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
